body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container-1 {
    background-color: olive;
    display: flex;
    align-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 400;
    gap: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

/* Start Container Two 222222222222222222222222222 */

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.top {
    display: flex;
    font-size: 24pt;
}

.bottom {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom img {
    width: 200px;
    border-radius: 20px;
}



ul, a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color:black;
    display: flex;
    gap: 30px;
}

button {
    width: 100px;
}

.footer {

}


