/* Container One 111111111111111111 */

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

ul, a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    display: flex;
    gap: 30px;
}

button {
    width: 100px;
}

.container-1 {
    color: white;
    background-color: olive;
    display: flex;
    align-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 40px;
    gap: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* width: 400px; */
}

.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    gap: 20px;
}

/* Start Container Two 222222222222222222222222222 */

.container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.top {
    display: flex;
    color: olive;
    font-size: 24pt;
}

.bottom {
    display: flex;
    justify-items: center;
    gap: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bottom img {
    width: 200px;
    border-radius: 20px;
    outline: 3px solid olive;
}

/* Start container three 3333333333333333333333 */

.container-3 {
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 156);
    padding-right: 200px;
    padding-left: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
}

.quote {
    font-size: 20pt;
}

.credit {
    display: flex;
    justify-content: flex-end;
}






.footer {

}


